@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #666666;
    --cor-2: #f0f4e5;
    --cor-3: #40a1e2;
    --cor-4: #908350;

    
}


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: var(--cor-2)
}

.titulo {
    color: var(--cor-3);
}

.apresentação {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.apresentacao_link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 36px;

}

.apresentacao__subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.botoes__links {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-3); 
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: floralwhite;
    font-family: "Montserrat", sans-serif;
}

.botoes__links:hover{
  background-color :var(--cor-4);
}

.rodape{
    color: var(--cor1);
    background-color: var(--cor-3);
    padding: 24px;
    text-align: center;
    font-family:"Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.cabeçalho{
    padding:2% 0% 0% 15% ;
   
}

.cabeçalho__menu {
    display: flex;
    gap: 80px;
}

.cabeçalho__menu__link{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: var(--cor-3);
    font-size: 24px;
}

.apresentacao__imagem{
    width: 50%;
}

@media(max-width: 1200px){
    .cabeçalho{
        padding: 10%;
    }
    .cabeçalho__menu{
        justify-content: center;
    }
    .apresentação{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__imagem{
        width: auto;
    }
}